@charset"utf-8";

body,h1,h2,h3,h4,h5,h6,p,dl,dd,dt{
    margin: 0
}

body{
    min-width: 1200px;
    font-family: 'NotoSans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.inner{
    width:1200px;
    margin: 0 auto;
}

.cf:after{
    content:"";
    display: block;
    clear: both;
}
